
@{
    ViewBag.Title = "OrderConfirmed";
}

<div class="container prodottiColor text-white fw-bold p-2 w-50">
    <h2>Il tuo Ordine è stato Confermato con Successo</h2>

    <p>@Html.ActionLink("Torna alla pagina principale", "Index", "Prodotti", new { area = "" }, new { @class = "btn btn-warning fw-bold" })</p>
    </div>

